<script src="Utils.js" ></script>
	<script src="RessLoader.js" ></script>
	<script src="Sprite.js" ></script>	
	<script src="input.js" ></script>
	<script src="Entity.js" ></script>
	<script src="LevelElement.js" ></script>
	<script src="Level.js" ></script>
	<script src="LevelFactory.js" ></script>
	<script src="Game.js" ></script>
	<script src="Player.js" ></script>
	<script src="Main.js" ></script>