@font-face {
    font-family: dialog;
    src: url(Fonts/Minecraft.ttf);
}

body{
	/*background:url(http://www.intrawallpaper.com/static/images/HD-Wallpapers-315.jpg);
	*/background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-size: 16px;
	background-color:#333;
}

*{
	box-sizing:border-box;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
}

h1{
	color:#fff;
}

.dialog{
	position:relative;
	display:none;
	top:-144px;
	background-image:url(../img/Map/dialog.jpg);
	background-repeat:no-repeat;
	background-size:600px;
	width:600px;
	margin:0 auto;
	height:500px;
	padding:20px;
	font-size:0.75em;
	font-family:"dialog"; 
	letter-spacing:0.1em;
	color:#333;
}

.dialog #lblDialog{
}

.buttons {
	display:none;
	position:relative;
	left:552px;
	top:-159px;
}

.progress{
	border:1px solid black;
	height:20px;
	width:200px;
	border-radius:6px;
	position:relative;
	display:none;
}

.inner{
	background-color: #37EB23;
	border-radius:6px;
	width: 100%;
}

#progress1{
	position: relative;
	bottom:281px;
	left:685px;
}

#progress2{
	position: relative;
	bottom:581px;
	left:360px;
}

